#filter-html-code.none-visible

    #exchange
        .subject= __('search.cs.exchange')
        .content= category.exchange
        .toggle-text Add Exchange
        .name exchange
    #industry
        .subject= __('search.cs.industry')
        .content= category.industry
        .toggle-text Add Industry
        .name industry
    #sector
        .subject= __('search.cs.sector')
        .content= category.sector
        .toggle-text Add Sector
        .name sector

    #pe
        .subject= __('search.cs.pe')
        .name pe
        .unit %

    #marketcap
        .subject= __('search.cs.marketcap')
        .name marketcap
        .unit $

    #avg10volume
        .subject= __('search.cs.avg10volume')
        .name avg10volume

    #avg30volume
        .subject= __('search.cs.avg30volume')
        .name avg30volume

    #sharesoutstanding
        .subject= __('search.cs.sharesoutstanding')
        .name sharesoutstanding

    #employees
        .subject= __('search.cs.employees')
        .name employees

    #dividendyield
        .subject= __('search.cs.dividendyield')
        .name dividendyield
        .unit %

    #ttmdividendrate
        .subject= __('search.cs.ttmdividendrate')
        .name ttmdividendrate
        .unit %

    #ned
        .subject= __('search.cs.nextearningsdate')
        .name ned

    #ndd
        .subject= __('search.cs.nextdividenddate')
        .name ndd

    #edd
        .subject= __('search.cs.exdividenddate')
        .name edd

    #beta
        .subject= __('search.cs.beta')
        .name beta

    #peg
        .subject= __('search.cs.peg')
        .name peg
        .unit %

    #payoutratio
        .subject= __('search.cs.payoutratio')
        .name payoutratio
        .unit %

    #rating
        .subject= __('search.cs.rating')
        .name rating

    #forwardpe
        .subject= __('search.cs.forwardpe')
        .name forwardpe
        .unit %

    #eps
        .subject= __('search.cs.eps')
        .name eps

    #forwardeps
        .subject= __('search.cs.forwardeps')
        .name forwardeps

    #d5cp
        .subject= __('search.cs.d5cp')
        .name d5cp
        .unit %

    #d30cp
        .subject= __('search.cs.d30cp')
        .name d30cp
        .unit %

    #m1cp
        .subject= __('search.cs.m1cp')
        .name m1cp
        .unit %

    #m3cp
        .subject= __('search.cs.m3cp')
        .name m3cp
        .unit %

    #m6cp
        .subject= __('search.cs.m6cp')
        .name m6cp
        .unit %

    #ytdcp
        .subject= __('search.cs.ytdcp')
        .name ytdcp
        .unit %
        
    #y1cp
        .subject= __('search.cs.y1cp')
        .name y1cp
        .unit %
        
    #y2cp
        .subject= __('search.cs.y2cp')
        .name y2cp
        .unit %
        
    #y5cp
        .subject= __('search.cs.y5cp')
        .name y5cp
        .unit %

    #w52hp
        .subject= __('search.cs.w52hp')
        .name w52hp
        .unit %

    #w52lp
        .subject= __('search.cs.w52lp')
        .name w52lp
        .unit %

    #newhigh
        .subject= __('search.cs.newhigh')
        .name newhigh

    #newlow
        .subject= __('search.cs.newlow')
        .name newlow

    #grossp
        .subject= __('search.cs.grossp')
        .name grossp
        .unit $

    #ebitda
        .subject= __('search.cs.ebitda')
        .name ebitda
        .unit $

    #totalcash
        .subject= __('search.cs.totalcash')
        .name totalcash
        .unit $

    #totaldebt
        .subject= __('search.cs.totaldebt')
        .name totaldebt
        .unit $

    #totalrevenue
        .subject= __('search.cs.totalrevenue')
        .name totalrevenue
        .unit $

    #grossm
        .subject= __('search.cs.grossm')
        .name grossm
        .unit %

    #operatingm
        .subject= __('search.cs.operatingm')
        .name operatingm
        .unit %

    #profitm
        .subject= __('search.cs.profitm')
        .name profitm
        .unit %

    #ebitdam
        .subject= __('search.cs.ebitdam')
        .name ebitdam
        .unit %

    #ocashflow
        .subject= __('search.cs.ocashflow')
        .name ocashflow
        .unit $

    #fcashflow
        .subject= __('search.cs.fcashflow')
        .name fcashflow
        .unit $

    #evr
        .subject= __('search.cs.evr')
        .name evr

    #evebit
        .subject= __('search.cs.evebit')
        .name evebit

    #roa
        .subject= __('search.cs.roa')
        .name roa

    #dte
        .subject= __('search.cs.dte')
        .name dte

    #roe
        .subject= __('search.cs.roe')
        .name roe

    #rps
        .subject= __('search.cs.rps')
        .name rps

    #totalcps
        .subject= __('search.cs.totalcps')
        .name totalcps

    #eg_0y
        .subject= __('search.cs.eg_0y')
        .name eg_0y
        .unit %

    #eg_0q
        .subject= __('search.cs.eg_0q')
        .name eg_0q
        .unit %

    #rg_0y
        .subject= __('search.cs.rg_0y')
        .name rg_0y
        .unit %

    #rg_0q
        .subject= __('search.cs.rg_0q')
        .name rg_0q
        .unit %

    #earnings_0y
        .subject= __('search.cs.earnings_0y')
        .name earnings_0y
        .unit $

    #earnings_0q
        .subject= __('search.cs.earnings_0q')
        .name earnings_0q
        .unit $

    #revenue_0y
        .subject= __('search.cs.revenue_0y')
        .name revenue_0y
        .unit $

    #revenue_0q
        .subject= __('search.cs.revenue_0q')
        .name revenue_0q
        .unit $

    #close
        .subject= __('search.cs.close')
        .name close

    #changpercent
        .subject= __('search.cs.changpercent')
        .name changpercent
        .unit %

    #gappercent
        .subject= __('search.cs.gappercent')
        .name gappercent
        .unit %


    

    #alert-html
        div.alert.alert-wrap.alert-light.alert-dismissible.mb-2
            button(type="button" data-dismiss="alert").close &times;
            .row
                .col-md-3
                    h5.alert-subject.pt-2.pl-2.pb-2
                        small
                .col-md-9
                    .alert-content

    #dropdown-checkbox-html
        .dropdown.select-checkbox.mb-2.mr-2
            .dropdown-content
            button(type="button" data-toggle="dropdown").btn.dropdown-toggle.real-toggle.after-none
            button(type="button").btn.btn-skyblue.dropdown-toggle.fake-toggle.after-none
                span.plus
                svg(height="15" width="15")
                    path(d="M 7.5 0 L 7.5 15 M 0 7.5 L 15 7.5 Z" stroke="black" stroke-width="2" fill="none")
                span.text
            .dropdown-menu.dropdown-modal.p-0.shadow
                .filter-wrap
                    .dropdown-header
                        .form-group.has-search.navbar-search.mb-0
                            span.fa.fa-search.form-control-feedback
                            input(type="text" placeholder="Find filters.." onfocus="focusAllSelect(this)").form-control.filter-input
                            button(type="button").close &times;
                    .dropdown-body
                        .dropdown-body-in.row

    #dropdown-checkbox-item-html
        div(filter-text=item).dropdown-checkbox-item.filter-text.pb-2.col-lg-6
            .custom-control.custom-checkbox
                input(type="checkbox" form-type="dropdown-checkbox").custom-control-input
                label.checkbox-label.custom-control-label

    #alert-item-html
        .alert.alert-item.alert-primary.alert-dismissible.mb-2.mr-2
            button(type="button" data-dismiss="alert").close &times;
            span &nbsp;
    
    #range-html
        .range
            input(type="hidden" form-type="range")
            .range-select
                select.custom-select
                    option(value=">" selected)= __('search.range.greaterthan')
                    option(value="<")= __('search.range.lessthan')
                    option(value="><")= __('search.range.between')

    #range-input-html
        .range-input
            input(type="number" onfocus="focusAllSelect(this)" style="padding-right: 1.5rem").form-control
            span.unit-text

    #range-input2-html
        .range-input
            div(style="margin-right: .5rem; display: inline-block;")
                input(type="number" onfocus="focusAllSelect(this)" style="padding-right: 1.5rem").form-control
                span.unit-text
            span -
            div(style="margin-right: .5rem; display: inline-block;")
                input(type="number" onfocus="focusAllSelect(this)" style="padding-right: 1.5rem").form-control
                span.unit-text

    #select-html
        .select-type
            select(form-type="select").custom-select

    #select-date-option-html
        option(value="1w")= __('search.select-date.1w')
        option(value="1m" selected)= __('search.select-date.1m')
        option(value="3m")= __('search.select-date.3m')
        option(value="6m")= __('search.select-date.6m')
        option(value="g6m")= __('search.select-date.g6m')

    #select-rating-option-html
        option(value="strong_buy")= __('search.select-rating.strongbuy')
        option(value="buy" selected)= __('search.select-rating.buy')
        option(value="hold")= __('search.select-rating.hold')
        option(value="sell")= __('search.select-rating.sell')
        option(value="strong_sell")= __('search.select-rating.strongsell')

    #checkbox-one-html
        .custom-control.custom-checkbox
            input(type="checkbox" form-type='checkbox-one' value='1' checked).custom-control-input
            label.checkbox-label.custom-control-label
